/* Header modified */

.header.header_main-page {
  margin-top: 24px;
  background-color: transparent;
}

.header.header_main-page .logo-w-text.header__logo-w-text {
  color: var(--green);
}

.header.header_main-page .logo.header__logo {
  --color: var(--green);
}

.header.header_main-page .nav__link {
  color: var(--black);
  transition: .5s;
}

.header.header_main-page .nav__link:hover {
  color: var(--green);
}

.header.header_main-page .nav::after {
  background-color: transparent;
}

/* Special offer */

.spec-offer {
  margin-top: 54px;
}

.spec-offer__block {
  position: relative;
  width: 325px;
  height: 192px;
  display: flex;
  flex-direction: column;
}

.spec-offer__title {
  font-size: 36px;
  color: var(--green);
}

.spec-offer__name {
  margin-top: 14px;
  font-size: 30px;
  line-height: 1.33;
}

.spec-offer__more-btn {
  margin-top: 25px;
  padding: 7px 40px;
  width: fit-content;
  display: block;
  background-color: var(--green);
  border-radius: 25px;
  font-size: 18px;
  color: var(--white-almost);
}

.spec-offer__more-btn:focus {
  outline: none;
  box-shadow: 0 0 0 1.5px var(--black);
}

/* House-background */

.house-bg {
  position: absolute;
  z-index: -100;
  left: calc(50% - 41px);
  top: -350px;
  height: 1347.45px;
  width: 1859px;
  transform: translateX(-50%);
  background: url(../img/house.svg) center/contain no-repeat;
}

/* Introduction */

.introduction {
  /* padding-top: 750px; */
  margin-top: 750px;
  /* padding-bottom: 853px; */
  height: 1094px;
  font-size: 24px;
  line-height: 1.67;
  text-align: justify;
}

.introduction__greeting {
}

.introduction__text {
}

.introduction__img {
  position: relative;
  z-index: -100;
  left: 50%;
  width: 1745px;
  height: 1274px;
  transform: translate(-50%, -420px);
  background: url(../img/glade.svg) center/contain no-repeat;
}

/* Partners & About */

.partners {
  margin-top: 279px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.partners__img {
  margin-right: 30px;
  width: 863px;
  height: 616px;
}

.partners__text,
.about__text {
  flex-shrink: 0;
  flex-grow: 0;
  width: 585px;
  font-size: 20px;
  line-height: 2;
  text-align: justify;
}

.about {
  /* margin-bottom: 578px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transform: translateY(-55px);
}

.about__img {
  margin-left: 25px;
  width: 780;
  height: 825px;
}