/* Variables */

:root {
  --rem: 12Px;
  --green: #39b54a;
  --black: #021e06;
  --white-almost: #ffffff;
  --white: #f2f2f2;
}

html {
  font-size: var(--rem);
  scroll-behavior: smooth;
}

body {
  font-family: 'Intro Regular', sans-serif;
  color: var(--black);
}

/* Container */

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1240px;
}

/* Logo */

.logo {
  --color: var(--green);
  height: 64px;
}

.logo__circle,
.logo__sun-circle,
.logo__field-stroke { stroke: var(--color) }

.logo__sun-beam { fill: var(--color) }

/* Logo with text */

.logo-w-text {
  width: fit-content;
  display: flex;
  align-items: center;
  color: var(--green);
}

.logo-w-text:focus-visible {
  outline-offset: 6px;
  outline-color: var(--black);
}

.logo-w-text__text {
  margin-left: 15px;
  font-size: 36px;
}

/* Header */

.header {
  position: fixed;
  z-index: 200;
  width: 100%;
  background-color: var(--green);
  transition: .4s;
}

.container.header__container {
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-w-text.header__logo-w-text {
  color: var(--white);
}

.logo.header__logo {
  --color: var(--white);
  height: 78px;
}

.nav.header__nav {}

/* Navigation */

.nav {
  --underline-width: 0px;
  --underline-left: 0px;
  position: relative;
}

.nav::after {
  content: '';
  position: absolute;
  left: var(--underline-left);
  transform: translateX(-50%);
  bottom: -2px;
  height: 2.5px;
  width: var(--underline-width);
  background-color: var(--white);
  transition: var(--underline-transition, 0s);
  pointer-events: none;
}

.nav__list {
  display: flex;
}

.nav__item:not(:first-child) {
  margin-left: 72.5px;
}

.nav__item {}

.nav__link {
  font-size: 18px;
  color: var(--white);
}

.nav__link:focus-visible {
  outline-color: var(--green);
  outline-offset: 5px;
}

/* Main */

.main {
  padding-top: 140px;
}

.container.main__container {}

/* Footer */

.footer {
  margin-top: 525px;
  background-color: var(--green);
  color: var(--white);
}

.footer__container.container {
  height: 1161px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__img {
  height: 593px;
}

.footer__logo-w-text {
  margin-top: 71px;
}

.footer__logo-w-text .logo-w-text__text {
  margin-left: 23px;
  font-size: 72px;
  color: var(--white);
}

.logo.footer__logo {
  height: 143px;
  --color: var(--white);
}

.footer__contacts {
  margin-top: 40px;
}

.contacts {}

.contacts__item {
  display: flex;
  align-items: center;
}

.contacts__item:not(:first-child) {
  margin-top: 35px;
}

.contacts__icon {
  margin-right: 35px;
  height: 55px;
  width: 55px;
}

.contacts__text {
  max-width: 425px;
  font-size: 18px;
  line-height: 1.39;
}

address { font-style: normal }

.contacts__phone {
}