/* Variables */

:root {
  --rem: 12Px;
  --green: #39B54A;
  --black: #000000;
  --white-almost: #ffffff;
  --white: #f2f2f2;
}

html { font-size: var(--rem) }

body {
  font-family: 'Intro Regular', sans-serif;
  color: var(--black);
}

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 1200px;
}

/* Logo */

.logo {
  height: 64px;
  --color: var(--green);
}

.logo__circle,
.logo__sun-circle,
.logo__field-stroke { stroke: var(--color) }

.logo__sun-beam { fill: var(--color) }

/* Logo with text */

.logo-w-text {
  width: fit-content;
  display: flex;
  align-items: center;
}

.logo-w-text:focus-visible {
  outline-offset: 6px;
  outline-color: var(--black);
}

.logo-w-text__text {
  margin-left: 20px;
  font-size: 48px;
  color: var(--green);
}

/* Navigation */

.nav {}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 34px;
}

.nav__item {}

.nav__link {
  font-size: 18px;
  transition: color .3s;
}

.nav__link:hover {
  color: var(--green);
}

.nav__link:focus-visible {
  outline-color: var(--green);
  outline-offset: 5px;
}

/* Header */

.header.container {
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-w-text {}

.header__logo {}

.header__nav.nav {}

.header__logo.logo {
  height: 78px;
}

/* Main */

.main {

}

/* Special offer */

.spec-offer.container {
  margin-top: 80px;
}

.spec-offer__wrapper {
  width: 350px;
}

.spec-offer__title {
  margin-bottom: 16px;
  font-size: 36px;
  color: var(--green);
}

.spec-offer__name {
  font-size: 30px;
}

.spec-offer__more-btn {
  margin-top: 22px;
  padding: 7px 40px;
  width: fit-content;
  display: block;
  background-color: var(--green);
  border-radius: 25px;
  font-size: 18px;
  color: var(--white-almost);
}

.spec-offer__more-btn:focus {
  outline: none;
  box-shadow: 0 0 0 1.5px var(--black);
}

/* House-background */

.house-background {
  height: 587px;
}

.house-background__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
  height: 987.4Px;
  width: 100%;
  background:url(../img/house.jpg) calc(50% + 124Px) -360Px no-repeat;
}

/* Introduction */

.introduction {
  padding-top: 105px;
  height: 1186px;
  font-size: 33px;
  line-height: 1.22;
  background: url(../img/path.jpg) bottom no-repeat;
  text-align: center;
}

.introduction__container.container {

}

.introduction__greeting {
}
.introduction__text {
}

/*  */

/* Footer */

.footer {
  /*  */
  margin-top: 173px;
  /*  */
  padding: 52px 0 41px;
  background-color: var(--green);
  color: var(--white);
}

.footer__container.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__logo-w-text .logo-w-text__text {
  font-size: 72px;
  color: var(--white);
}

.footer__logo.logo {
  height: 143px;
  --color: var(--white);
}
.contacts {
}
.footer__nav.nav__list {
  margin-top: 132px;
}

.footer__nav .nav__link:hover {
  color: var(--black);
}